{% extends "@Billetterie/layout.html.twig" %}

{% block title %}{{ parent() }} - Confirmation de la commande{% endblock %}

{% block top_column_h2 %}Confirmation de la commande{% endblock %}

{% block center_column %}
    <div class="title">Confirmation de commande</div>
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <p class="bold">Vous allez recevoir un mail que vous devrez imprimer et présenter à l'entrée lors de votre visite.</p>
    <p class="bold">Le mail est envoyé à l'adresse que vous avez fournis dans la commande.</p>

    <a href="{{ path('home') }}" class="btn-default btn retour" >Retourner à l'accueil</a>
{% endblock %}