{% extends "@Billetterie/layout.html.twig" %}

{% block title %}{{ parent() }} - Contact{% endblock %}
{% block top_column_h2 %}Contact{% endblock %}
{% block top_column_p %}Prenez soin d'identifier l'interlocuteur le mieux adapté, votre demande n'en sera que mieux traitée !{% endblock %}
{% block center_column %}

        <ul class="generalInfo">
            <li>
                <p class="bold" style="margin-top:15px ">En cas de problèmes pour imprimer votre e-ticket,</p>

                <p class="spaced">- Contactez&nbsp;:
                    <a href="mailto:assistance-billetterie@louvre.fr" target="_blank">assistance-billetterie@louvre.fr</a>
                </p>
            </li>
            <li>
                <div class="title" style="margin-top:15px ">Informations générales</div>
                <p class="last">
                    Pour obtenir des informations sur le musée, les services à votre disposition<br>
                    et notre actualité, l'équipe du service de l'accueil est à votre disposition :
                </p>
            </li>
            <li>
                <p class="bold" style="margin-top:15px ">Banque d'information du musée&nbsp;:</p>
                <p>Tél. : +33 (0)1 40 20 53 17</p>
                <p class="spaced">Tous les jours, sauf le mardi, de 9h à 18h30 (21h30 les mercredis et vendredis).</p>
                <p class="last">
                    <a href="mailto:info@louvre.fr" target="_blank">info@louvre.fr</a>
                </p>
            </li>
            <li>
                <p class="bold" style="margin-top:15px ">Préparez votre visite&nbsp;:</p>
                <p class="last">
                    <a href="http://www.louvre.fr/preparer-sa-visite" target="_blank">http://www.louvre.fr/preparer-sa-visite</a>
                </p>
            </li>
            <li class="last">
                <p class="bold" style="margin-top:15px ">Consultez le plan interactif du Louvre&nbsp;:</p>
                <p class="last">
                    <a href="http://www.louvre.fr/plan" target="_blank">http://www.louvre.fr/plan</a>
                </p>
            </li>


        </ul>
        <ul>
            <li class="last">
                <div class="title">Information handicap</div>
                <p>Tél. : +33 (0)1 40 20 59 90</p>
                <p class="last">
                    <a href="mailto:handicap@louvre.fr" target="_blank">handicap@louvre.fr</a>
                </p>
            </li>
        </ul>
{% endblock %}
